project:
  output-dir: docs

format:
  html:
    theme: cosmo
    pagetitle: "Géomatique avec R"
    author-meta: "Timothée Giraud et Hugues Pecout"
    description-meta:
      "Géomatique avec R: pour la réalisation de traitements reproductibles de l'information géographique.
      Ce manuel est destiné tant aux utilisateurs de R souhaitant mettre en place des traitements de données
      spatiales qu’aux utilisateurs souhaitant utiliser R pour réaliser les taches qu’ils réalisent habituellement
      avec un SIG. Les principales étapes du traitement de l’information géographiques y sont abordées."
    lang: fr
    language: 
      title-block-author-plural: "Auteurs"
    author:
      - name: Timothée Giraud
        orcid: 0000-0002-1932-3323
        url: https://rcarto.github.io
        affiliation:
            name: Centre pour l’analyse spatiale et la géovisualisation - RIATE (CNRS)
            url: https://riate.cnrs.fr
      - name: Hugues Pecout
        orcid: 0000-0002-0246-0954
        url: https://geographie-cites.cnrs.fr/membres/hugues-pecout/
        affiliation:
            name: Géographie-cités (CNRS)
            url: https://geographie-cites.cnrs.fr
    date: today
    date-format: "D MMM YYYY"